*.apk
*.rar
*.zip
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.DS_Store
/build
/captures
gradle/
.externalNativeBuild
facelibrary/.externalNativeBuild
facelibrary/build
app/build/
